* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: Arial, Helvetica, sans-serif
    
  }
  
  :root {
    --main-color: #f8b281;
    --secondary-color: #1b1b1b;
  }
  
  
  section {
    padding: 5%;
  }
  
  h2 {
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 125%;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav svg {
    cursor: pointer;
    z-index: 10;
  }
  
  .links {
    position: absolute;
    background: white;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
  }
  .links a {
    color: var(--secondary-color);
    font-size: 2rem;
  }
  
  .front-page {
    min-height: 100vh;
    color: white;
  }
  .quote {
    margin-top: 25vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .quote h3 {
    font-family: sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
  }
  .space {
    margin-top: 2rem;
  }
  .space button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.216);
    margin: 1rem;
  }
  .space-main {
    background-color: var(--main-color);
    color: var(--secondary-color);
  }
  .space-main a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  
  .WV022 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  .info {
    color: var(--secondary-color);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
  }
  .videos video {
    width: 50%;
    border-radius: 1rem;
    margin-top: 1rem;
  }
  .Astronaughts,
  .Planets,
  .Space_Travel {
    position: relative;
  }
  .videos h3 {
    position: absolute;
    color: var(--main-color);
    text-shadow: 0px 2px 12px rgba(136, 48, 48, 0.408);
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 2rem;
  }
  
  .galaxy {
    color: var(--secondary-color);
  }
  
  .galaxy h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .galaxy p {
    line-height: 150%;
    font-size: 1.2rem;
  }
  .galaxy img {
    width: 100%;
    margin-top: 2rem;
  }
  
  @media screen and (min-width: 768px) {
    body {
      padding: 0% 10%;
    }
    .videos {
      display: flex;
      gap: 2rem;
    }
    .galaxy {
      display: flex;
      gap: 5rem;
      justify-content: space-between;
    }
    .galaxy img {
      width: 50%;
    }
    .galaxy h2 {
      text-align: start;
    }
  }
  